flows.json
[
    {
        "id": "e567b4ceea25909e",
        "type": "tab",
        "label": "Generate Test Traffic and see output ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ca67bd7dfaad900f",
        "type": "ui_tab",
        "name": "Auth API ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d5759354530745c7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5bbbfc930baf97d5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "353bb6547d30ac52",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "63e3198df54cd292",
        "type": "ui_tab",
        "name": "Control API ",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e1c1f49d8f322b8",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1396eb1caf4814b0",
        "type": "ui_group",
        "name": "Default",
        "tab": "0e1c1f49d8f322b8",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f2868ba30902c95",
        "type": "ui ping",
        "z": "e567b4ceea25909e",
        "name": "",
        "host": "",
        "timeout": "5",
        "requests": "1",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "efc7ec5ef0b3f58d"
            ]
        ]
    },
    {
        "id": "f3db19130791b2c5",
        "type": "inject",
        "z": "e567b4ceea25909e",
        "name": "",
        "props": [
            {
                "p": "host",
                "v": "34.219.103.61",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "3f2868ba30902c95"
            ]
        ]
    },
    {
        "id": "4ff44ca61985d4db",
        "type": "ui_form",
        "z": "e567b4ceea25909e",
        "name": "",
        "label": "",
        "group": "1396eb1caf4814b0",
        "order": 1,
        "width": 16,
        "height": 1,
        "options": [
            {
                "label": "Destination Host ",
                "value": "host",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "host": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "0fc6f0898b382303"
            ]
        ]
    },
    {
        "id": "efc7ec5ef0b3f58d",
        "type": "ui_text",
        "z": "e567b4ceea25909e",
        "group": "1396eb1caf4814b0",
        "order": 2,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "Round-Trip Latency in ms ",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "0fc6f0898b382303",
        "type": "template",
        "z": "e567b4ceea25909e",
        "name": "",
        "field": "host",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.host}}",
        "output": "str",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "3f2868ba30902c95"
            ]
        ]
    },
    {
        "id": "e48601986afd22be",
        "type": "inject",
        "z": "e567b4ceea25909e",
        "name": "",
        "props": [
            {
                "p": "host",
                "v": "34.219.103.61",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "aff5bc8ca086bee7"
            ]
        ]
    },
    {
        "id": "aff5bc8ca086bee7",
        "type": "ui ping",
        "z": "e567b4ceea25909e",
        "name": "",
        "host": "",
        "timeout": "5",
        "requests": "1",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "a73619cbb06b4d23"
            ]
        ]
    },
    {
        "id": "f5a7cc9dc5789a25",
        "type": "ui_chart",
        "z": "e567b4ceea25909e",
        "name": "",
        "group": "1396eb1caf4814b0",
        "order": 3,
        "width": 16,
        "height": 9,
        "label": "Last 10 minutes of latency measurement",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 240,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a73619cbb06b4d23",
        "type": "change",
        "z": "e567b4ceea25909e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "f5a7cc9dc5789a25"
            ]
        ]
    }
]
